:root{
	--startline: 15em;
	--img-max-height: 15em;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin-bottom: 2em;
}
.errors *{
	color: red ;
}

/* ***************************************** */
/* index************************************* */
#index .img-column {
	flex: 12.5%;
}
@media (max-width: 660px) {
	#index .img-column {
		flex: 25%;
	}
}
@media (max-width: 560px) {
	#index .img-column {
		flex: 100%;
	}
}

#index .img-column img {
	vertical-align: middle;
	padding: 0;
	margin: 0;
}
/* ***************************************** */
/* dash************************************* */
#dash .album-outter-button-box{
	display: flex;
	flex-direction: column;
	justify-content: start;      
	padding-top: var(--startline);
}
#dash .album-button-box{
	/* display: flex; */
	flex-direction: column;
}
#dash .album-button-box img{
	display: block;
	width: 2em !important;
	margin-bottom: 1em;
	margin: 0 auto 1em;
	transition: scale .05s ease-out;
}
#dash .album-button-box img:hover{
	opacity: .7;
	scale: 1.2;
}

#dash .album-view-box, 
#album .album-view-box{
	padding-top: calc(var(--startline) - 2em);
}
#dash .album-view-group, 
#album .album-view-group{
	margin: 0 0 5em 0;
}
#dash .album-view img, 
#album .album-view img{
	max-height: var(--img-max-height);
	margin: 0 2em 2em 0;
	transition: scale .05s ease-out;
}
#dash .album-view img:hover, 
#album .album-view img:hover{
	opacity: .8;
	scale: 1.04;
}

/* **************************************************** */
/* image-view ***************************************** */
#image-view .button-box{
	display: flex;
	justify-content: space-between;
}

#image-view .image-box img{
	max-height: 800px;
	max-width: 90%;
}

#album .image-pool{
	display: flex;
	flex-wrap: wrap;
}
#album .image-pool img{
	max-height: var(--img-max-height);
}

/* **************************************************** */
/* image_display_all ********************************** */
.image-display-box{
	display: flex;
	flex-wrap: wrap;
}
.img-group{
	display: inline-block;
	
}
.img-group img{
	width: 100%;
	transition: all ease 100ms;
}
.img-group img:hover{
	transform: scale(1.02);
	opacity: .95;
}

/* **************************************************** */
/* image_display_all ********************************** */
#image_view img{
	max-width: 100%;
	max-height: 100vh;
}
#image_view .control-buttons img{
	width: 30px;
}