<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
		<title>{{title}}</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-light mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">{{title}}</a>
				<button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			  	<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						{% if session['user_id'] %}
						<li class="nav-item">
							<form action="/images_search" method="post">
								<div class="input-group mt-1">
									<input name="search" type="text" class="form-control" placeholder="Search">
									<!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button> -->
								  </div>
							</form>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<!-- Nav links that show up when logged in as a user -->
						{% if session['user_id'] %}
						<li class="nav-item">
							<a class="nav-link" href="/user_dash">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/images_display_all">Images</a>
						</li>
						{% endif %}
						<li class="nav-item">
							{% if session['user_id'] %}
							<a class="nav-link" href="/user_logout">Logout</a>
							{% else %}
							<a class="nav-link" href="/user_login">Login</a>
							{% endif %}
						</li>
						<li class="nav-item">
							<h5 class="nav-link">
								{% if session['user_name'] %}
								{{session['user_name']}}
								{% endif %}
							</h5>
						</li>
					</ul>
			  </div>
			</div>
		</nav>
		<div class="errors">
			{% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
			{% if messages %}<!-- check if there are any messages -->
			{% for message in messages %}<!-- loop through the messages -->
			<p>{{message}}</p>
			<!-- display each message in a paragraph tag -->
			{% endfor %} {% endif %} {% endwith %}
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<h1 class="col-12 text-center mb-4">Create Album</h1>
				<form class="col col-md-9 col-lg-6 col-xl-5 mx-auto" action="/album_create_form" method=post>
					<div class="mb-3">
					  <label for="" class="form-label">Name</label>
					  <input type="text"
						class="form-control" name="name" id="name">
					</div>
					<input class="btn btn-outline-primary" type=submit value=Create>
				</form>
			</div>
		</div>

		<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>
