<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
		<title>{{title}}</title>
	</head>
	<body id="image-view">
		<nav class="navbar navbar-expand-sm navbar-light bg-light ">
			<a class="navbar-brand" href="/">{{title}}</a>
			<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						{% if session['user_id'] %}
							<a class="nav-link" href="/user_dash">Dashboard</a>
						{% endif %}
					</li>
					<li class="nav-item">
						{% if session['user_id'] %}
							<a class="nav-link" href="/user_logout">Logout</a>
						{% else %}
							<a class="nav-link" href="/user_login">Login</a>
						{% endif %}
					</li>
					<li class="nav-item">
						<h5 class="nav-link">
							{% if session['user_name'] %}
								{{session['user_name']}}
							{% endif %}
						</h5>
					</li>
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu" aria-labelledby="dropdownId">
							<a class="dropdown-item" href="#">Action 1</a>
							<a class="dropdown-item" href="#">Action 2</a>
						</div>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form> -->
			</div>
		</nav>
		<div class="errors">
			{% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
			{% if messages %}<!-- check if there are any messages -->
			{% for message in messages %}<!-- loop through the messages -->
			<p>{{message}}</p>
			<!-- display each message in a paragraph tag -->
			{% endfor %} {% endif %} {% endwith %}
		</div>

		<div class="container-fluid">
			<div class="row mb-4">
				<div class="left-col col-lg-10 p-4 ">
					<div class="row">
						<a class="d-inline-block mr-auto" href="/user_dash"><img src="{{ url_for('static',filename='img/icons/back.jpg') }}" alt=""></a>
						<div class="d-inline-block" >
							<a class="download ml-auto mr-2" target="_blank" href="{{image.link}}"><img src="{{ url_for('static',filename='img/icons/download.jpg') }}" alt=""></a>
							<a class="delete" href="/image_delete/{{image.id}}/{{current_album_id}}"><img src="{{ url_for('static',filename='img/icons/delete.jpg') }}" alt=""></a>
						</div>
					</div>
					<div class="row image-box mt-4">
						<img class="mx-auto" src="{{ url_for('static',filename='img/homepage_defaults/1-2-AZAN2875-ShotByShaneAzania-ShotByShaneAzania.jpg') }}" alt="">
						<!-- <img class="mx-auto" src="{{ image.link }}" alt=""> -->
					</div>
				</div>
				<div class="right-col col-lg-2 border border-dark px-3">
					<h4 class="d-inline-block pt-5">Info</h4>
					<form action="/image_edit_form" method="post" class=" mx-auto">
						<input type="text" class="form-control" name="id" id="id" value="{{image.id}}" readonly hidden >
						<div class="form-group">
						  <label for="keywords" >Keywords:</label>
						  <input type="text" name="keywords" id="keywords" value="{{image.keywords}}" class="form-control" placeholder="" aria-describedby="helpId">
						  <small id="helpId_keywords" class="text-muted">Seperate keywords by a space (keyword1 keyword2).</small>
						</div>
						<div class="form-group">
						  <label for="album">Select Album:</label>
						  <select class="form-control" name="album_id" id="album_id">
							{% if albums %}
								{% for a in albums %}
									{% if a.id | string == current_album_id | string %}
										<option value="{{a.id}}" selected>{{a.name}}</option>
									{% else %}
										<option value="{{a.id}}">{{a.name}}</option>
									{% endif %}
								{% endfor %}
							{% endif %}
						  </select>
						</div>
						<input name="current_album_id" type="text" value = {{current_album_id}} readonly hidden>
						<!-- <input name="upload" id="upload" class="btn btn-outline-primary" type="submit" value="Upload"> -->
						<input name="submit" id="submit" class="btn btn-outline-primary" type="submit" value="Submit">
					</form>
				</div>
			</div>
		</div>

		<script src="{{ url_for('static', filename='js/boostrap.js') }}"></script>
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>
