<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
		<title>{{title}}</title>
	</head>
	<body id="image-view">
		<!-- display nav component -->
		{{nav | safe}}
		
		<div class="errors">
			{% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
			{% if messages %}<!-- check if there are any messages -->
			{% for message in messages %}<!-- loop through the messages -->
			<p>{{message}}</p>
			<!-- display each message in a paragraph tag -->
			{% endfor %} {% endif %} {% endwith %}
		</div>

		<div class="container">
			<!-- control-buttons -->
			<div class="row">
				<div class="control-buttons col-12 mb-3 d-flex justify-content-between">
					<a id="back_btn" class="mr-auto"><img src="{{ url_for('static',filename='img/icons/back.jpg') }}"></a>
					<div>
						<a class="ms-3" href="{{ url_for('static',filename=image.location) }}" download><img alt="download" src="{{ url_for('static',filename='img/icons/download.jpg') }}" alt="download"></a>
						<a id = "info" class="ms-3"> <img alt="info" src="{{ url_for('static',filename='img/icons/info.jpg') }}"></a>
						<a class="ms-3" href="/image_delete/{{image.id}}"><img alt="delete" src="{{ url_for('static',filename='img/icons/delete.jpg') }}"></a>
					</div>
				</div>
			</div>
			<!-- image display -->
			<div class="row justify-content-center">
				<div class="col text-center">
					<p>By {{creator.user_name}}</p>
					<img src="{{ url_for('static',filename=image.location) }}">
				</div>
			</div>
		</div>
		<div id="info-box" class="bg-light">
			<button class="btn btn-outline-dark close-btn mb-5">Close</button>
			<!-- if user logged in show abled form, else, show readonly form -->
			{% if session['user_id'] and session['user_id'] == image.user_id %}
			<form action="/image_update_form" method="post">
				<!-- image_id -->
				<input id="image_id" type="text" name="id" value="{{image.id}}" readonly hidden>
				<!-- keywords -->
				<div id="keywords" class="mb-3">
					<label for="keywords" class="form-label">Keywords</label>
					<input type="text" class="form-control" name="keywords" id="" value="{{image.keywords}}" placeholder="keyword1,key word 2,keyword 3,etc...">
					<small id="helpId" class="form-text text-muted">Separate keywords and phrases by a comma ( , )</small>
				</div>
				<!-- albums_for_image -->
				<div id="albums_for_image" class="mb-3">
					<!-- gather all the IDs of the Albums associated with this image -->
					{% set img_album_ids = [] %}
					{% for img_a in image.albums %}
					<!-- {{ img_album_ids.append(img_a.id) }} -->
					{% endfor %}
					<!-- Cycle through available albums created by user -->
					{% for a in albums  %}
					<!-- if the current album's id is in the list of image album's ids, then generate a checked version of the album checkbox. if not, generate an unchecked version -->
					{% if a.id in img_album_ids %}
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="{{a.id}}" name="albums[]" checked>
						<label class="form-check-label" for="albums">
							{{a.name}}
						</label>
					</div>
					<!-- if not in the list of image album ids, generate an unchecked version -->
					{% else %}
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="{{a.id}}" name="albums[]">
						<label class="form-check-label" for="albums">
							{{a.name}}
						</label>
					</div>
					{% endif %}
					{% endfor %}
				</div>
				<button class="btn btn-secondary">Update</button>
			</form>
			{% else %}
			<form>
				<!-- image_id -->
				<input id="image_id" type="text" name="id" value="{{image.id}}" readonly hidden>
				<!-- keywords -->
				<div id="keywords" class="mb-3">
					<label for="keywords" class="form-label">Keywords</label>
					<input readonly type="text" class="form-control" name="keywords" id="" value="{{image.keywords}}" placeholder="keyword1,key word 2,keyword 3,etc...">
					<small id="helpId" class="form-text text-muted">Separate keywords and phrases by a comma ( , )</small>
				</div>
				<!-- albums_for_image -->
				<div id="albums_for_image" class="mb-3">
					<!-- gather all the IDs of the Albums associated with this image -->
					{% set img_album_ids = [] %}
					{% for img_a in image.albums %}
					{{ img_album_ids.append(img_a.id) }}
					{% endfor %}
					<!-- Cycle through available albums created by user -->
					{% for a in albums  %}
					<!-- if the current album's id is in the list of image album's ids, then generate a checked version of the album checkbox. if not, generate an unchecked version -->
					{% if a.id in img_album_ids %}
					<div class="form-check">
						<input onclick="return false;" class="form-check-input" type="checkbox" value="{{a.id}}" name="albums[]" checked>
						<label class="form-check-label" for="albums">
							{{a.name}}
						</label>
					</div>
					<!-- if not in the list of image album ids, generate an unchecked version -->
					{% else %}
					<div class="form-check">
						<input onclick="return false;" class="form-check-input" type="checkbox" value="{{a.id}}" name="albums[]">
						<label class="form-check-label" for="albums">
							{{a.name}}
						</label>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</form>
			{% endif %}
		</div>

		<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>
