<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
		<title>{{title}}</title>
	</head>
	<body id="index">
		<!-- display nav component -->
		{{nav | safe}}
		
		<div class="errors">
			{% with messages = get_flashed_messages() %}<!-- declare a variable called messages -->
			{% if messages %}<!-- check if there are any messages -->
			{% for message in messages %}<!-- loop through the messages -->
			<p>{{message}}</p>
			<!-- display each message in a paragraph tag -->
			{% endfor %} {% endif %} {% endwith %}
		</div>

		<div class="container-fluid p-0">
			<div class="row">
				<div id="index-intro" class="col-12 col-md-5 col-lg-4 mx-auto justify-content-center text-center">
					<img src="{{ url_for('static',filename='img/logo.png') }}" class="logo" alt="logo">
					<h1 class="site-title">Photographicc</h1>
					<p class="intro-text">
						Share your work with other creatives, consumers, and potential buyers
					</p>
					{% if not session['user_id'] %}
					<a href="/user_join" class="btn btn-outline-dark rounded-0 px-5">Join</a>
					{% endif %}
				</div>
			</div>
			<div class="row mt-5">
				<div class="img-column col-num-1">
					<img class="col" src="{{ url_for('static',filename=images[0].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[1].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[2].location) }}" alt="">
				</div>
				<div class="img-column col-num-2">
					<img class="col" src="{{ url_for('static',filename=images[3].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[4].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[5].location) }}" alt="">
				</div>
				<div class="img-column col-num-3">
					<img class="col" src="{{ url_for('static',filename=images[6].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[7].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[8].location) }}" alt="">
				</div>
				<div class="img-column col-num-4">
					<img class="col" src="{{ url_for('static',filename=images[9].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[10].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[11].location) }}" alt="">
				</div>
				<div class="img-column col-num-5">
					<img class="col" src="{{ url_for('static',filename=images[12].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[13].location) }}" alt="">
					<img class="col" src="{{ url_for('static',filename=images[14].location) }}" alt="">
				</div>
				<div class="img-column col-num-6">
					<img class="col" src="{{ url_for('static',filename=images[15].location) }}" alt="">
				</div>
				
			</div>
			
		</div>

		<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>
		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>